* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
}

.nav {
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin: 20px 0;
    padding: 12px 0;
}

h1 {
    color: rgb(224, 136, 73);
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 20px;
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

li img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    text-align: center;
}

a {

    text-decoration: none;
    color: darkblue;
}

a:hover {
    text-decoration: none;
    color: rgb(89, 89, 217);
}